<%- include ('../_partial/_header') %> 

    <div class="tab-content" id="nav-tabContent">
        <!-- Profile -->
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">Profile</div>
        <!-- New Perceptess -->
        <div class="tab-pane fade" id="nav-newceptees" role="tabpanel" aria-labelledby="nav-newceptees-tab" tabindex="0">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Parents</th>
                        <th scope="col">Perceptees</th>
                        <th scope="col">DOB (dates are -1)</th>
                        <th scope="col">register date (dates are -1)</th>
                        <th scope="col">Venue of lesson</th>
                        <th scope="col">Contact number</th>
                        <th scope="col">Acknowledgement</th>
                        <th scope="col">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < Newceptees_results.length; i++) { %>
                        <tr>
                            <!-- Parents -->
                            <td> 
                                <form action="/admins/After/newceptees_detail" method="post">
                                    <% let Pname = JSON.stringify(Newceptees_results[i]['Parents']).slice(1, JSON.stringify(Newceptees_results[i]['Parents']).length-1) %>
                                    <input type="hidden" name="tabname" value="new perceptees">
                                    <input type="hidden" name="colname" value="Parents">
                                    <input type="hidden" name="detailname" value='<%= Pname %>'>
                                    <button type="submit" class="link-button btn btn-outline-info btn-sm details_btn">
                                        <%= Pname %>
                                    </button>
                                </form>
                            </td>
                            <!-- Perceptees -->
                            <td> <%= JSON.stringify(Newceptees_results[i]['Perceptees']).slice(1, JSON.stringify(Newceptees_results[i]['Perceptees']).length-1) %> </td>
                            <!-- DOB -->
                            <td> <%= JSON.stringify(Newceptees_results[i]['DOB']) %> </td>
                            <!-- register date -->
                            <td> <%= JSON.stringify(Newceptees_results[i]['register date']).slice(1, JSON.stringify(Newceptees_results[i]['register date']).length-15) %> </td>
                            <!-- Venue of lesson -->
                            <td> <%= JSON.stringify(Newceptees_results[i]['Venue of lesson']).slice(1, JSON.stringify(Newceptees_results[i]['Venue of lesson']).length-1) %> </td>
                            <!-- Contact number -->
                            <td> <%= JSON.stringify(Newceptees_results[i]['Contact number']) %> </td>
                            <!-- Acknowledgement -->
                            <td> 
                                <div class="input-group">
                                    <form action="/admins/transfer_newceptees" method="post">
                                        <% let parent = JSON.stringify(Newceptees_results[i]['Parents']) %>
                                        <% let student = JSON.stringify(Newceptees_results[i]['Perceptees']) %>
                                        <% let contact = JSON.stringify(Newceptees_results[i]['Contact number']) %> 
                                        <% let email = JSON.stringify(Newceptees_results[i]['Email']) %> 
                                        <input type="hidden" name="tparent" value=<%= parent.slice(1, parent.length-1) %>>
                                        <input type="hidden" name="tstudent" value=<%= student.slice(1, student.length-1) %>>
                                        <input type="hidden" name="tcontact" value=<%= contact %>>
                                        <input type="hidden" name="temail" value=<%= email.slice(1, email.length-1) %>>
                                        <input type="submit" class="btn btn-primary btn-sm form-control payment" value="TRANSFER">
                                    </form>
                                    <form action="/admins/drop_newceptees" method="post">
                                        <input type="hidden" name="tparent" value=<%= parent.slice(1, parent.length-1) %>>
                                        <input type="hidden" name="tstudent" value=<%= student.slice(1, student.length-1) %>>
                                        <input type="hidden" name="tcontact" value=<%= contact %>>
                                        <input type="hidden" name="temail" value=<%= email.slice(1, email.length-1) %>>
                                        <input type="submit" class="btn btn-danger btn-sm form-control payment" value="DROP">
                                    </form>    
                                </div>
                            </td>
                            <!-- Remarks -->
                            <td> <%= JSON.stringify(Newceptees_results[i]['Remarks']).slice(1, JSON.stringify(Newceptees_results[i]['Remarks']).length-1) %> </td>
                        </tr>
                    <% } %> 
                </tbody>    
            </table>
        </div>
        <!-- New Perceptors -->
        <div class="tab-pane fade" id="nav-newceptors" role="tabpanel" aria-labelledby="nav-newceptors-tab" tabindex="0">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Perceptors</th>
                        <th scope="col">DOB (dates are -1)</th>
                        <th scope="col">register date (dates are -1)</th>
                        <th scope="col">Venue of lesson</th>
                        <th scope="col">Contact number</th>
                        <th scope="col">Acknowledgement</th>
                        <th scope="col">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < Newceptors_results.length; i++) { %>
                        <tr>
                            <!-- Newceptors -->
                            <td> 
                                <form action="/admins/After/newceptors_detail" method="post">
                                    <% let Pname = JSON.stringify(Newceptors_results[i]['Perceptors']).slice(1, JSON.stringify(Newceptors_results[i]['Perceptors']).length-1) %>
                                    <input type="hidden" name="tabname" value="new perceptors">
                                    <input type="hidden" name="colname" value="Perceptors">
                                    <input type="hidden" name="detailname" value='<%= Pname %>'>
                                    <button type="submit" class="link-button btn btn-outline-info btn-sm details_btn">
                                        <%= Pname %>
                                    </button>
                                </form>
                            </td>
                            <!-- DOB -->
                            <td> <%= JSON.stringify(Newceptors_results[i]['DOB']).slice(1, JSON.stringify(Newceptors_results[i]['DOB']).length-15) %> </td>
                            <!-- register date -->
                            <td> <%= JSON.stringify(Newceptors_results[i]['register date']).slice(1, JSON.stringify(Newceptors_results[i]['register date']).length-15) %> </td>
                            <!-- Venue of lesson -->
                            <td> <%= JSON.stringify(Newceptors_results[i]['Venue of lesson']).slice(1, JSON.stringify(Newceptors_results[i]['Venue of lesson']).length-1) %> </td>
                            <!-- Contact number -->
                            <td> <%= JSON.stringify(Newceptors_results[i]['Contact number']) %> </td>
                            <!-- Acknowledgement -->
                            <td> 
                                <div class="input-group">
                                    <form action="/admins/transfer_newceptors" method="post">
                                        <% let perceptor = JSON.stringify(Newceptors_results[i]['Perceptors']) %>
                                        <% let email = JSON.stringify(Newceptors_results[i]['Email']) %>
                                        <% let contact = JSON.stringify(Newceptors_results[i]['Contact number']) %>
                                        <input type="hidden" name="tceptors" value=<%= perceptor.slice(1, perceptor.length-1) %>>
                                        <input type="hidden" name="temail" value=<%= email.slice(1, email.length-1) %>>
                                        <input type="hidden" name="tcontact" value=<%= contact %>>
                                        <input type="submit" class="btn btn-primary btn-sm form-control payment" value="TRANSFER">
                                    </form>
                                    <form action="/admins/drop_newceptors" method="post">
                                        <input type="hidden" name="tceptors" value=<%= perceptor.slice(1, perceptor.length-1) %>>
                                        <input type="hidden" name="temail" value=<%= email.slice(1, email.length-1) %>>
                                        <input type="hidden" name="tcontact" value=<%= contact %>>
                                        <input type="submit" class="btn btn-danger btn-sm form-control payment" value="DROP">
                                    </form>
                                </div>
                            </td>
                            <!-- Remarks -->
                            <td> <%= JSON.stringify(Newceptors_results[i]['Remarks']).slice(1, JSON.stringify(Newceptors_results[i]['Remarks']).length-1) %> </td>
                        </tr>
                    <% } %> 
                </tbody>    
            </table>
        </div>
        <!-- Admin -->
        <div class="tab-pane fade" id="nav-admins" role="tabpanel" aria-labelledby="nav-admins-tab" tabindex="0">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">User_name</th>
                        <th scope="col">Password</th>
                        <th scope="col">DOB (dates are -1)</th>
                        <th scope="col">NRIC</th>
                        <th scope="col">Contact number</th>
                        <th scope="col">Priviledge</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < Admins_results.length; i++) { %>
                        <tr>
                            <!-- User name -->
                            <td> 
                                <form action="/admins/After/admins_detail" method="post">
                                    <% let Pname = JSON.stringify(Admins_results[i]['User_name']).slice(1, JSON.stringify(Admins_results[i]['User_name']).length-1) %>
                                    <input type="hidden" name="tabname" value="admin">
                                    <input type="hidden" name="colname" value="User_name">
                                    <input type="hidden" name="detailname" value='<%= Pname %>'>
                                    <button type="submit" class="link-button btn btn-outline-info btn-sm details_btn">
                                        <%= Pname %>
                                    </button>
                                </form>
                            </td>
                            <!-- Password -->
                            <td> <%= JSON.stringify(Admins_results[i]['Password']).slice(1, JSON.stringify(Admins_results[i]['Password']).length-1) %> </td>
                            <!-- DOB -->
                            <td> <%= JSON.stringify(Admins_results[i]['DOB']).slice(1, JSON.stringify(Admins_results[i]['DOB']).length-15) %> </td>
                            <!-- NRIC -->
                            <td> <%= JSON.stringify(Admins_results[i]['NRIC']).slice(1, JSON.stringify(Admins_results[i]['NRIC']).length-1) %> </td>
                            <!-- Contact number -->
                            <td> <%= JSON.stringify(Admins_results[i]['Contact number']) %> </td>
                            <!-- Priviledge -->
                            <td> <%= JSON.stringify(Admins_results[i]['Priviledge']).slice(1, JSON.stringify(Admins_results[i]['Priviledge']).length-1) %> </td>
                        </tr>
                    <% } %> 
                </tbody>    
            </table>
        </div>
        <!-- Perceptors -->
        <div class="tab-pane fade" id="nav-coach" role="tabpanel" aria-labelledby="nav-coach-tab" tabindex="0">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Perceptors</th>
                        <th scope="col">DOB (dates are -1)</th>
                        <th scope="col">Num of Perceptees</th>
                        <th scope="col">Location</th>
                        <th scope="col">Contact number</th>
                        <th scope="col">NRIC</th>
                        <th scope="col">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < Perceptors_results.length; i++) { %>
                        <tr>
                            <!-- Perceptors name-->
                            <td> 
                                <form action="/admins/After/perceptors_detail" method="post">
                                    <% let Pname = JSON.stringify(Perceptors_results[i]['Perceptors']) %> 
                                    <input type="hidden" name="tabname" value="perceptors">
                                    <input type="hidden" name="colname" value="Perceptors">
                                    <input type="hidden" name="detailname" value='<%= Pname.slice(1, Pname.length-1) %>'>
                                    <button type="submit" class="link-button btn btn-outline-info btn-sm details_btn">
                                        <%= Pname.slice(1, Pname.length-1) %>
                                    </button>
                                </form>
                            </td>
                            <!-- DOB-->
                            <td> <%= JSON.stringify(Perceptors_results[i]['DOB']).slice(1, JSON.stringify(Perceptors_results[i]['DOB']).length-15) %> </td>
                            <!-- Num of Perceptees-->
                            <td>
                                <% if ((JSON.stringify(Perceptors_results[i]['Num of Perceptees'])) == 0) { %> 
                                    <form action="/admins/Perceptor_Num" method="post" class="form-inline input-group" id="Numbar">
                                        <input type="hidden" name="nametors" value=<%= JSON.stringify(Perceptors_results[i]['Perceptors']).slice(1, JSON.stringify(Perceptors_results[i]['Perceptors']).length-1) %> >
                                        <input type="hidden" name="contactors" value=<%= JSON.stringify(Perceptors_results[i]['Contact number']) %> >
                                        <input class="form-control mr-sm-2" type="search" placeholder="Num of student" aria-label="Num" name="Numtors">
                                        <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Save">
                                    </form>
                                <% } else { %>
                                    <%= JSON.stringify(Perceptors_results[i]['Num of Perceptees']) %>  
                                <% } %>
                            </td>
                            <!-- Location -->
                            <td> <%= JSON.stringify(Perceptors_results[i]['Venue of lesson']).slice(1, JSON.stringify(Perceptors_results[i]['Venue of lesson']).length-1) %> </td>
                            <!-- Contact number -->
                            <td> <%= JSON.stringify(Perceptors_results[i]['Contact number']) %> </td>
                            <!-- NRIC -->
                            <td> 
                                <% if (!JSON.stringify(Perceptors_results[i]['NRIC']).slice(1, JSON.stringify(Perceptors_results[i]['NRIC']).length-1)) { %>
                                    <form action="/admins/Perceptor_NRIC" method="post" class="form-inline input-group" id="NRICbar">
                                        <input type="hidden" name="nametors" value=<%= JSON.stringify(Perceptors_results[i]['Perceptors']).slice(1, JSON.stringify(Perceptors_results[i]['Perceptors']).length-1) %> >
                                        <input type="hidden" name="contactors" value=<%= JSON.stringify(Perceptors_results[i]['Contact number']) %> >
                                        <input class="form-control mr-sm-2" type="search" placeholder="NRIC" aria-label="NRIC" name="NRICtors">
                                        <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Save">
                                    </form>
                                <% } else { %>
                                    <%= JSON.stringify(Perceptors_results[i]['NRIC']).slice(1, JSON.stringify(Perceptors_results[i]['NRIC']).length-1) %>  
                                <% } %>
                            </td>
                            <!-- Remarks -->
                            <td> <%= JSON.stringify(Perceptors_results[i]['Remarks']).slice(1, JSON.stringify(Perceptors_results[i]['Remarks']).length-1) %> </td>
                        </tr>
                    <% } %> 
                </tbody>    
            </table>
        </div>
        <!-- Parents -->
        <div class="tab-pane fade" id="nav-student" role="tabpanel" aria-labelledby="nav-student-tab" tabindex="0">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Parents</th>
                        <th scope="col">Perceptees</th>
                        <th scope="col">DOB (dates are -1)</th>
                        <th scope="col">Perceptors</th>
                        <th scope="col">Venue of lesson</th>
                        <th scope="col">Contact number</th>
                        <th scope="col">Acknowledgement</th>
                        <th scope="col">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < Parents_results.length; i++) { %>
                        <tr>
                            <!-- Parents-->
                            <td> 
                                <form action="/admins/After/parents_detail" method="post">
                                    <% let Pname = JSON.stringify(Parents_results[i]['Parents']) %> 
                                    <input type="hidden" name="tabname" value="parents">
                                    <input type="hidden" name="colname" value="Parents">
                                    <input type="hidden" name="detailname" value='<%= Pname.slice(1, Pname.length-1) %>'>
                                    <button type="submit" class="link-button btn btn-outline-info btn-sm details_btn">
                                        <%= Pname.slice(1, Pname.length-1) %>
                                    </button>
                                </form>
                            </td>
                            <!-- Perceptees name-->
                            <td> <%= JSON.stringify(Parents_results[i]['Perceptees']).slice(1, JSON.stringify(Parents_results[i]['Perceptees']).length-1) %> </td>
                            <!-- DOB-->
                            <td> <%= JSON.stringify(Parents_results[i]['DOB']).slice(1, JSON.stringify(Parents_results[i]['DOB']).length-15) %> </td>
                            <!-- Perceptors name-->
                            <td> <%= JSON.stringify(Parents_results[i]['Perceptors']).slice(1, JSON.stringify(Parents_results[i]['Perceptors']).length-1) %> </td>
                            <!-- Venue of lesson-->
                            <td> <%= JSON.stringify(Parents_results[i]['Venue of lesson']).slice(1, JSON.stringify(Parents_results[i]['Venue of lesson']).length-1) %> </td>
                            <!-- Contact number-->
                            <td> <%= JSON.stringify(Parents_results[i]['Contact number']) %> </td>
                            <!-- Acknowledgement-->
                            <td> 
                                <% if (JSON.stringify(Parents_results[i]['payment']).slice(1, JSON.stringify(Parents_results[i]['payment']).length-1) == 'paid') { %>
                                    <form action="/admins/paid" method="post">
                                        <% let user = JSON.stringify(Parents_results[i]['Parents']) %>
                                        <input type="hidden" name="fname" value=<%= user.slice(1, user.length-1) %>>
                                        <input type="submit" class="btn btn-primary btn-sm payment" value="PAID" disabled>
                                    </form>
                                <% } else if (JSON.stringify(Parents_results[i]['payment']).slice(1, JSON.stringify(Parents_results[i]['payment']).length-1) == 'pending') { %>
                                    <form action="/admins/paid" method="post">
                                        <% let user = JSON.stringify(Parents_results[i]['Parents']) %>
                                        <input type="hidden" name="fname" value=<%= user.slice(1, user.length-1) %>>
                                        <input type="submit" class="btn btn-warning btn-sm payment" value="PENDING...">
                                    </form>
                                <% }else { %>
                                    <form action="/admins/unpaid" method="post">
                                        <% let user = JSON.stringify(Parents_results[i]['Parents']) %>
                                        <input type="hidden" name="fname" value=<%= user.slice(1, user.length-1) %>>
                                        <input type="submit" class="btn btn-danger btn-sm payment" value="NOT PAID!!!">
                                    </form>
                                <% } %>
                            </td>
                            <!-- Remarks-->
                            <td> asdasdadadadadadadaadadadwasdwasdwasdwads </td>
                        </tr>
                    <% } %> 
                </tbody>    
            </table>
        </div>
    </div>    

<%- include ('../_partial/_footer') %> 