<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../webNode/views/style.css" type="text/css">
</head>
<body>
    <div id="Top">
        <nav class="navbar sticky-top navbar-expand-md navbar-dark" id="nav">
            <div class="topthings">
                <form action="/admins/reload" method="post">
                    <input type="image" alt="logo" src="../../webNode/views/small lbsx.png" id="img">
                </form>
            </div>
            <h4>Details</h4>
        </nav>
    </div>

    <nav id="details_content">
        <ul class="details_list list-inline">
            <% for( let i = 0; i < ceptors_results.length; i++ ) { %>
                <li class="list-inline-item">
                    <div class="details_box">
                        <div id="parents_name">
                            Perceptors details
                        </div>
                        <div id="parents_details">
                            Perceptors Name: <%= JSON.stringify(ceptors_results[i]['Perceptors']).slice(1, JSON.stringify(ceptors_results[i]['Perceptors']).length-1) %>
                            <br>
                            Contact number: <%= JSON.stringify(ceptors_results[i]['Contact number']) %>
                            <br>
                            Password: <%= JSON.stringify(ceptors_results[i]['password']).slice(1, JSON.stringify(ceptors_results[i]['password']).length-1) %>
                            <br>
                            Email: <%= JSON.stringify(ceptors_results[i]['Email']).slice(1, JSON.stringify(ceptors_results[i]['Email']).length-1) %>
                            <br>
                            DOB: <%= JSON.stringify(ceptors_results[i]['DOB']).slice(1, JSON.stringify(ceptors_results[i]['DOB']).length-15) %>
                            <br>
                            NRIC: <%= JSON.stringify(ceptors_results[i]['NRIC']).slice(1, JSON.stringify(ceptors_results[i]['NRIC']).length-1) %>
                            <br>
                            Number of perceptees: <%= JSON.stringify(ceptors_results[i]['Num of perceptees']) %>
                            <br>
                            Perceptees in-charge: <% for( let index = 0; index < rents_results.length; index++ ) { %>
                                <%= JSON.stringify(rents_results[index]['Perceptees']).slice(1, JSON.stringify(rents_results[index]['Perceptees']).length-1) %>, 
                            <% } %>
                            <br>
                            Address: <%= JSON.stringify(ceptors_results[i]['Address']).slice(1, JSON.stringify(ceptors_results[i]['Address']).length-1) %>
                            <br>
                            Venue of lesson: <%= JSON.stringify(ceptors_results[i]['Venue of lesson']).slice(1, JSON.stringify(ceptors_results[i]['Venue of lesson']).length-1) %>
                            <br>
                            Medical Conditions: <%= JSON.stringify(ceptors_results[i]['Medical Conditions']).slice(1, JSON.stringify(ceptors_results[i]['Medical Conditions']).length-1) %>
                            <br>
                            Swimming/Coaching experience: <%= JSON.stringify(ceptors_results[i]['Swimming/Coaching experience']).slice(1, JSON.stringify(ceptors_results[i]['Swimming/Coaching experience']).length-1) %>
                            <br>
                            Preferred day and time: <%= JSON.stringify(ceptors_results[i]['Preferred day and time']).slice(1, JSON.stringify(ceptors_results[i]['Preferred day and time']).length-1) %>
                            <br>
                            Remarks: <%= JSON.stringify(ceptors_results[i]['Remarks']).slice(1, JSON.stringify(ceptors_results[i]['Remarks']).length-1) %>
                            <br>
                            Bank details: <%= JSON.stringify(ceptors_results[i]['Bank details']).slice(1, JSON.stringify(ceptors_results[i]['Bank details']).length-1) %>
                            <br>
                            Bank acc number: <%= JSON.stringify(ceptors_results[i]['Back account number']).slice(1, JSON.stringify(ceptors_results[i]['Back account number']).length-1) %>
                            <br>
                            Register date: <%= JSON.stringify(ceptors_results[i]['register date']).slice(1, JSON.stringify(ceptors_results[i]['register date']).length-15) %>
                        </div>
                    </div>
                </li>
            <% } %>
            <li class="list-inline-item">
                <div class="details_box">
                    <div id="emergency_contact">
                        Emergency Contact
                    </div>
                    <div id="emergency_details">
                        Name: 
                        <br>
                        Contact: 
                        <br>
                        Relation:
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>