<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../webNode/views/style.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>
</head>
<body>
    <script>
        function downloadInvoice() {
            alert("Invoice downloaded")
            window.location = '/admins'
            // var data = {
            //     //"documentTitle": "RECEIPT", //Defaults to INVOICE
            //     "currency": "SGD",
            //     "taxNotation": "gst", //or gst
            //     "marginTop": 25,
            //     "marginRight": 25,
            //     "marginLeft": 25,
            //     "marginBottom": 25,
            //     "logoExtension": "../../webNode/views/small lbsx.png", //or base64
            //     //"logoExtension": "png", //only when logo is base64
            //     "sender": {
            //         "company": "SwimPerceptors",
            //         "country": "Singapore"
            //     },
            //     "client": {
            //         "Parent": `${document.getElementById('rents_name').value}`,
            //         "Perceptees": `${document.getElementsById('ceptees_name').value}`,
            //         "Address": `${document.getElementsById('address').value}`
            //     },
            //     "invoiceNumber": "2020.0001",
            //     "invoiceDate": "05-01-2020",
            //     "products": [
            //         {
            //             "quantity": "4",
            //             "description": "Lessons completed",
            //             "price": 50
            //         }
            //     ],
            //     "bottomNotice": "Kindly pay your invoice within 15 days."
            // };
            // easyinvoice.createInvoice(data, function (result) {
            //     //The response will contain a base64 encoded PDF file
            //     easyinvoice.download("Invoice.pdf")
            // });
            
            
            
        }
    </script>
    <div id="Top">
        <nav class="navbar sticky-top navbar-expand-md navbar-dark" id="nav">
            <div class="topthings">
                <form action="/admins/reload" method="post">
                    <input type="image" alt="logo" src="../../webNode/views/small lbsx.png" id="img">
                </form>
            </div>
            <h4>Details</h4>
        </nav>
    </div>
    <nav id="details_content">
        <ul class="details_list list-inline">
            <% for( let i = 0; i < results.length; i++ ) { %>
                <li class="list-inline-item">
                    <div class="details_box">
                        <div id="parents_name">
                            Parents details
                        </div>
                        <div id="parents_details">
                            Parents: <%= JSON.stringify(results[i]['Parents']).slice(1, JSON.stringify(results[i]['Parents']).length-1) %>
                            <br>
                            Email: <%= JSON.stringify(results[i]['Email']).slice(1, JSON.stringify(results[i]['Email']).length-1) %>
                            <br>
                            DOB: <%= JSON.stringify(results[i]['Parent DOB']).slice(1, JSON.stringify(results[i]['Parent DOB']).length-15) %>
                            <br>
                            Contact number: <%= JSON.stringify(results[i]['Contact number']) %>
                            <br>
                            Venue of lesson: <%= JSON.stringify(results[i]['Venue of lesson']).slice(1, JSON.stringify(results[i]['Venue of lesson']).length-1) %>
                            <br>
                            Address: <%= JSON.stringify(results[i]['Address']).slice(1, JSON.stringify(results[i]['Address']).length-1) %>
                            <br>
                            NRIC: <%= JSON.stringify(results[i]['Parent NRIC']).slice(1, JSON.stringify(results[i]['Parent NRIC']).length-1) %>
                            <br>
                            Relation: <%= JSON.stringify(results[i]['Relation']).slice(1, JSON.stringify(results[i]['Relation']).length-1) %>
                        </div>
                        <div id="childs_name">
                            Childs details
                        </div>
                        <div id="childs_details">
                            Childs Name: <%= JSON.stringify(results[i]['Perceptees']).slice(1, JSON.stringify(results[i]['Perceptees']).length-1) %>
                            <br>
                            NRIC: <%= JSON.stringify(results[i]['Perceptees NRIC']).slice(1, JSON.stringify(results[i]['Perceptees NRIC']).length-1) %>
                            <br>
                            DOB: <%= JSON.stringify(results[i]['Perceptees DOB']).slice(1, JSON.stringify(results[i]['Perceptees DOB']).length-15) %>
                            <br>
                            Medical conditions: <%= JSON.stringify(results[i]['Medical Conditions']).slice(1, JSON.stringify(results[i]['Medical Conditions']).length-1) %>
                            <br>
                            Remarks: <%= JSON.stringify(results[i]['Remarks']).slice(1, JSON.stringify(results[i]['Remarks']).length-1) %>
                            <br>
                            Perceptors: <%= JSON.stringify(results[i]['Perceptors']).slice(1, JSON.stringify(results[i]['Perceptors']).length-1) %>
                            <br>
                            lessons completed: <%= JSON.stringify(results[i]['Number of lesson completed']) %>
                            <br>
                            Day of the week for lesson: <%= JSON.stringify(results[i]['Lesson day']).slice(1, JSON.stringify(results[i]['Lesson day']).length-1) %>
                            <br>
                            Preferred day and time: <%= JSON.stringify(results[i]['Preferred day and time']).slice(1, JSON.stringify(results[i]['Preferred day and time']).length-1) %>
                            <br>
                            Payment status: <%= JSON.stringify(results[i]['payment']).slice(1, JSON.stringify(results[i]['payment']).length-1) %>
                            <br>
                            Password: <%= JSON.stringify(results[i]['password']).slice(1, JSON.stringify(results[i]['password']).length-1) %>
                            <br>
                            <form action="/admins/update_password" method="post">
                                <input type="hidden" name="rent_name" value="<%= JSON.stringify(results[i]['Parents']).slice(1, JSON.stringify(results[i]['Parents']).length-1) %>">
                                <input type="hidden" name="ceptees_name" value="<%= JSON.stringify(results[i]['Perceptees']).slice(1, JSON.stringify(results[i]['Perceptees']).length-1) %>">
                                <input type="hidden" name="email" value="<%= JSON.stringify(results[i]['Email']).slice(1, JSON.stringify(results[i]['Email']).length-1) %>">
                                <input type="text" name="new_password" placeholder="New password">
                                <input type="submit" value="Update">
                            </form>
                            Register date: <%= JSON.stringify(results[i]['register date']).slice(1, JSON.stringify(results[i]['register date']).length-15) %>
                        </div>
                        <div id="emergency_contact">
                            Emergency Contact
                        </div>
                        <div id="emergency_details">
                            Name: <%= JSON.stringify(results[i]['emergency name']).slice(1, JSON.stringify(results[i]['emergency name']).length-1) %>
                            <br>
                            Contact: <%= JSON.stringify(results[i]['emergency contact']).slice(1, JSON.stringify(results[i]['emergency contact']).length-1) %>
                            <br>
                            Relation: <%= JSON.stringify(results[i]['emergency relation']).slice(1, JSON.stringify(results[i]['emergency relation']).length-1) %>
                        </div>
                        <div class="Special Remarks">
                            Special Remarks: <%= JSON.stringify(results[i]['Sremarks']).slice(1, JSON.stringify(results[i]['Sremarks']).length-1) %>
                            <br>
                            <form action="/admins/special_remarks" method="post">
                                <input type="hidden" name="Rparents_name" value='<%= JSON.stringify(results[i]['Parents']).slice(1, JSON.stringify(results[i]['Parents']).length-1) %>'>
                                <input type="hidden" name="Rceptees_name" value='<%= JSON.stringify(results[i]['Perceptees']).slice(1, JSON.stringify(results[i]['Perceptees']).length-1) %>'>
                                <input class="form-control" type="text" placeholder="Special Remarks" name="remarks" id="remarks">
                                <input type="submit" class="btn btn-primary btn-sm" value="SAVE">
                            </form>
                        </div>
                        <div class="Invoice">
                            <form action="/admins/invoice" method="post">
                                <input type="hidden" name="rents_name" value='<%= JSON.stringify(results[i]['Parents']).slice(1, JSON.stringify(results[i]['Parents']).length-1) %>'>
                                <input type="hidden" name="ceptees_name" value='<%= JSON.stringify(results[i]['Perceptees']).slice(1, JSON.stringify(results[i]['Perceptees']).length-1) %>'>
                                <input type="hidden" name="email" value="<%= JSON.stringify(results[i]['Email']).slice(1, JSON.stringify(results[i]['Email']).length-1) %>">
                                <input type="hidden" name="address" value='<%= JSON.stringify(results[i]['Address']).slice(1, JSON.stringify(results[i]['Address']).length-1) %>'>
                                <input type="submit" class="btn btn-primary btn-sm" value="DOWNlOAD INVOICE">
                            </form>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>