<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../webNode/views/style.css" type="text/css">
</head>
<body>
    <div id="Top">
        <nav class="navbar sticky-top navbar-expand-md navbar-dark" id="nav">
            <div class="topthings">
                <form action="/admins/reload" method="post">
                    <input type="image" alt="logo" src="../../webNode/views/small lbsx.png" id="img">
                </form>
            </div>
            <h4>Details</h4>
        </nav>
    </div>
    <nav id="details_content">
        <ul class="details_list list-inline">
            <li class="list-inline-item">
                <div class="details_box">
                    <div id="parents_name">
                        Parents details
                    </div>
                    <div id="parents_details">
                        Parents: <%= JSON.stringify(results[0]['Parents']).slice(1, JSON.stringify(results[0]['Parents']).length-1) %> 
                        <br>
                        Num of children: <%= results.length %> 
                        <br>
                        Email: <%= JSON.stringify(results[0]['Email']).slice(1, JSON.stringify(results[0]['Email']).length-1) %>
                        <br>
                        Perceptors: <%= JSON.stringify(results[0]['Perceptors']).slice(1, JSON.stringify(results[0]['Perceptors']).length-1) %>
                        <br>
                        Contact number: <%= JSON.stringify(results[0]['Contact number']) %>
                        <br>
                        Venue of lesson: <%= JSON.stringify(results[0]['Venue of lesson']).slice(1, JSON.stringify(results[0]['Venue of lesson']).length-1) %>
                        <br>
                        NRIC: <%= JSON.stringify(results[0]['Parents NRIC']).slice(1, JSON.stringify(results[0]['Parents NRIC']).length-1) %>
                        <br>
                        Relation: <%= JSON.stringify(results[0]['Relation to parents / guardians']).slice(1, JSON.stringify(results[0]['Relation to parents / guardians']).length-1) %>
                    </div>
                </div>
            </li>
            <% for( let i = 0; i < results.length; i++ ) { %>
                <li class="list-inline-item">
                    <div class="details_box">
                        <div id="childs_name">
                            Childs details
                        </div>
                        <div id="childs_details">
                            Childs Name: <%= JSON.stringify(results[i]['Perceptees']).slice(1, JSON.stringify(results[i]['Perceptees']).length-1) %>
                            <br>
                            NRIC: <%= JSON.stringify(results[i]['Perceptees NRIC']).slice(1, JSON.stringify(results[i]['Perceptees NRIC']).length-1) %>
                            <br>
                            DOB: <%= JSON.stringify(results[i]['DOB']).slice(1, JSON.stringify(results[i]['DOB']).length-15) %>
                            <br>
                            Medical conditions: <%= JSON.stringify(results[i]['DOB']).slice(1, JSON.stringify(results[i]['DOB']).length-1) %>
                            <br>
                            lessons completed: <%= JSON.stringify(results[i]['Number of lesson completed']) %>
                            <br>
                            Day of the week for lesson: <%= JSON.stringify(results[i]['Lesson day']).slice(1, JSON.stringify(results[i]['Lesson day']).length-1) %>
                            <br><br><br>
                        </div>
                    </div>
                </li>
            <% } %>
            <li class="list-inline-item">
                <div class="details_box">
                    <div id="emergency_contact">
                        Emergency Contact
                    </div>
                    <div id="emergency_details">
                        Name: 
                        <br>
                        Contact: 
                        <br>
                        Relation:
                        <br><br><br><br><br><br>
                    </div>
                </div>
            </li>
            <div class="Specail Remarks">
                <form action="/admins/After/parents/special_remarks" method="post">
                    <label for="remarks">Special Remarks: </label>
                    <input type="hidden" name="Rparents_name" value=<%= JSON.stringify(results[0]['Parents']).slice(1, JSON.stringify(results[0]['Parents']).length-1) %>>
                    <input class="form-control" type="text" name="remarks" id="remarks">
                    <input type="submit" class="btn btn-primary btn-sm save" value="SAVE">
                </form>
            </div>
        </ul>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>